/*-- included fonts --*/

/* merriweather-regular - latin */
@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("./fonts/merriweather-v25-latin-regular.woff2") format("woff2");
}

/* merriweather-italic - latin */
@font-face {
  font-family: "Merriweather";
  font-style: italic;
  font-weight: 400;
  src: local(""),
    url("./fonts/merriweather-v25-latin-italic.woff2") format("woff2");
}

/* merriweather-700 - latin */
@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("./fonts/merriweather-v25-latin-700.woff2") format("woff2");
}

/* merriweather-700italic - latin */
@font-face {
  font-family: "Merriweather";
  font-style: italic;
  font-weight: 700;
  src: local(""),
    url("./fonts/merriweather-v25-latin-700italic.woff2") format("woff2"); /* Legacy iOS */
}
/*--- source sans pro --*/

/* source-sans-pro-regular - latin */
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("./fonts/source-sans-pro-v14-latin-regular.woff2") format("woff2");
}

/* source-sans-pro-italic - latin */
@font-face {
  font-family: "Source Sans Pro";
  font-style: italic;
  font-weight: 400;
  src: local(""),
    url("./fonts/source-sans-pro-v14-latin-italic.woff2") format("woff2");
}

/* source-sans-pro-700 - latin */
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("./fonts/source-sans-pro-v14-latin-700.woff2") format("woff2");
}

/* source-sans-pro-700italic - latin */
@font-face {
  font-family: "Source Sans Pro";
  font-style: italic;
  font-weight: 700;
  src: local(""),
    url("./fonts/source-sans-pro-v14-latin-700italic.woff2") format("woff2");
}

/*-- generel settings --*/
:root {
  --standard-color-1: #73561c;
  --standard-color-2: #003f03;

  --standard-text-color-main: #2f2f2f;
  --standard-text-color-main-dark: #fff;
  --standard-text-color-link: #5f4209;
  --standard-text-color-hover: darkorange;

  --standard-background-color: #706a62;
  --standard-background-color-dark: #000;

  --standard-padding-1: 20px;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-image: url(./img/geisterbusch-wahner-heide-justus-siebert-2020-07-03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: beige;
  margin: 0;
  _height: 100%;
  font-family: "Source Sans Pro", sans-serif;
  overflow: hidden;
}
header {
  display: block;
}
h1 {
  text-align: center;
  font-family: "Merriweather", serif;
  color: var(--standard-color-1);
}
main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
.polaroid {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 300px;
  _margin: 0 auto;
  _background-image: url(kreuzkroeten-geisterbusch-wahner-heide-justus-siebert-2020-07-03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  _margin-top: 10%;
  opacity: 0.4;
  border: 2px solid #000;
  box-shadow: inset 0px 0px 0px 15px #fff;

  transform: rotate(20deg) translate(-50%, -50%);
  _transform-origin: 0% 0%;
  transform-origin: 100% 100%;
  transition: transform 0.6s ease, opacity 0.6s linear;
  z-index: 1;
}
.polaroid:hover {
  transform: rotate(0) scale(1.5) translateY(-20%);
  opacity: 1;
  z-index: 2;
}
.polaroid:hover p {
  visibility: visible;
}

.polaroid-kreuzkroete {
  background-image: url(./img/kreuzkroeten-geisterbusch-wahner-heide-justus-siebert-2020-07-03.jpg);
}
.polaroid-esel {
  background-image: url(./img/esel-justus-siebert-2020-07-18.jpg);
  transform: rotate(-20deg) translate(-50%, -70%);
  transform-origin: 100% 100%;
}
.polaroid-salamander {
  background-image: url(./img/freuersalamander-koenigsforst-justus-siebert-2020-06-04.jpg);
  transform: rotate(10deg) translate(-130%, -40%);
  transform-origin: 100% 100%;
}
.polaroid-salamander:hover {
  transform: rotate(-5deg) scale(2.5) translateY(10%);
}
.polaroid-eidechse {
  background-image: url(./img/zauneidechse-justus-siebert-20170402_123810.jpg);
  transform: rotate(-20deg) translate(-80%, -30%);
}
.polaroid-glanrind {
  background-image: url(./img/glanrinder-wahner-heide-justus-siebert-2011-10-02.jpg);
  transform: rotate(-45deg) translateY(-5%) translateX(350px);
  transform-origin: 50% 50%;
}

.polaroid p {
  display: inline-block;
  visibility: hidden;
  color: #fff;
  text-shadow: 2px 2px 1px #000;
  position: absolute;
  margin-bottom: 0;
  bottom: 30px;
  right: 30px;
  padding: 0.2rem;
  background-color: rgba(0, 0, 0, 0.4);
}
